<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head">
    <meta charset="UTF-8" />
    <title>Home</title>
</head>
<body>
<nav th:replace="fragments/navbar :: myNav" />

<h1>Post successfully created!</h1>
<h3>You just created: <span th:text="${createdPost.getTitle()}"></span></h3>
<h4>What's next?</h4>
<h6><a th:href="@{'/posts/' + ${createdPost.getId()}}">View the post I just created</a></h6>
<h6><a th:href="@{'/posts/' + ${createdPost.getId()} + '/edit'}">Edit the post I just created</a></h6>
<h6><a href="/posts">View all of the other posts</a></h6>



<nav th:replace="fragments/footer :: footer" />
</body>
</html>