<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head">
    <meta charset="UTF-8" />
    <title>Home</title>
</head>
<body>
<nav th:replace="fragments/navbar :: myNav" />

<p>This is showing post with id of <span th:text="${post.getId()}"></span></p>
<h1 th:text="${(post.title)}"></h1>
<h3><span th:text="${post.body}"></span></h3>
<!--<h3><span th:text="${post}"></span></h3>-->
<p>Team:  <span th:text="${post.team.getTeamName()}"></span></p>



<nav th:replace="fragments/footer :: footer" />
</body>
</html>