<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head></head>
<body>



    <div class="logo-wrapper">
        <a href="#" class="brand-logo center logo-text">Black Bear Sports Blogs</a>
    </div>


<nav th:fragment="myNav" class="nav-custom">



            <!--Logged in-->

            <div sec:authorize="isAuthenticated()">
                <ul class="nav-ul">
                    <li class="nav-item"><a class="nav-link" href="/posts/create">Create</a></li>
                    <li class="nav-item"><a class="nav-link" href="/posts">Browse</a></li>
                    <li class="nav-item">
                        <form th:action="@{/logout}" th:method="post">
                            <button class="btn-link">Logout</button>
                        </form>
                    </li>
                </ul>
            </div>

            <!--Logged out-->

            <div sec:authorize="isAnonymous()">
                <ul class="nav-ul">
                    <li class="nav-item"><a class="nav-link" href="/sign-up">Sign Up</a></li>
                    <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
                    <li class="nav-item"><a class="nav-link" href="/posts">Browse</a></li>
                </ul>
            </div>





</nav>

</body>
</html>