<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head></head>
<body>

<nav th:fragment="myNav" class="n">
    <div>
        <ul class="vertical medium-horizontal menu">
            <li>
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <!--Welcome, <span th:text="${#authentication.principal.username}"/>-->
            </li>

            <!--Logged in-->

            <div sec:authorize="isAuthenticated()">
                <li>
                    <form th:action="@{/posts/create}" th:method="post">
                        <button style="margin-top: 8px">Create</button>
                    </form>
                </li>
                <li>
                    <form th:action="@{/logout}" th:method="post">
                        <button style="margin-top: 8px">Logout</button>
                    </form>
                </li>
                <li>
                    <form action="/posts" th:method="post">
                        <button style="margin-top: 8px">Browse</button>
                    </form>
                </li>
            </div>

            <!--Logged out-->

            <div sec:authorize="isAnonymous()">
                <li>
                    <form th:action="@{/sign-up}" th:method="post">
                        <button style="margin-top: 8px">Sign Up</button>
                    </form>
                </li>
                <li>
                    <form th:action="@{/login}" th:method="post">
                        <button style="margin-top: 8px">Login</button>
                    </form>
                </li>
                <li>
                    <form action="/posts" th:method="post">
                        <button style="margin-top: 8px">Browse</button>
                    </form>
                </li>
            </div>

        </ul>
    </div>
</nav>

</body>
</html>