<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head">
    <meta charset="UTF-8" />
    <title>Home</title>
</head>
<body>
<nav th:replace="fragments/navbar :: myNav" />

<div th:each="user : ${allUsers}">
    <h1 th:text="${user.getId()}"></h1>
    <h3 th:text="${user.getEmail()}"></h3>
    <!--<h3 th:text="${user.getPosts()}"></h3>-->
    <h3 th:text="${user.getUsername()}"></h3>

</div>


<nav th:replace="fragments/footer :: footer" />
</body>
</html>